extends layout

block content
    body(style='background-color:gainsboro')
        div(style='text-align:center;')
            #easter_egg.panel-body(onmouseout='easter_eggColor()', onmouseover='easter_eggImage()')
                .text-center(style='padding-top:10px')
                    br
                    #easter_egg2.panel.w3-topnav.w3-blue
                        .panel-heading
                            h1  Error 404
                    br
                    h2#easter_egg3  No se ha encontrado la pagina que estabas buscando.
                    h3#easter_egg4  Presiona aqui para volver a la pagina principal.
                    br
                    form#easter_egg5(action='..', method='post')
                        button.btn.btn-primary.text-right(type='submit') Volver
    