//
   Created by Anghelo on 09-09-2016.
    TODO: everything :c

extends layout

block content
    body.callcenter
        div.subcenter.centered
            br
            div.ui.segment.transwhite
                h1 Bienvenido admin #{nombre}
                form(action='/', method='POST')
                    button.ui.secondary.button(name='submitButton', value='log_out') Cerrar sesión
            div.ui.segment.stacked.transwhite
                h3 Herramientas
                a.ui.big.button.circular.red.w35(href='/admin/crearEncuestador') Crear encuestador
                a.ui.big.button.circular.green.w35(href='/admin/verEncuestador') Ver/Eliminar encuestadores
                br
                br
                a.ui.big.button.circular.purple.w35(href='/admin/crearProyecto') Crear proyecto
                a.ui.big.button.circular.orange.w35(href='/admin/subirCSV') Cargar bd de contactos
                br
                br
                a.ui.big.button.circular.yellow.w35(href='/admin/verProyecto') Ver proyecto
                a.ui.big.button.circular.blue.w35(href='/admin/agregarCliente') Agregar cliente
                br
                br
                //a.ui.big.button.circular.pink.w35(href='/admin/descargarGrabaciones') Descargar grabaciones
                //br
                //br
