//
   Created by Anghelo on 02-11-2016.

extends layout

block content
    body.callcenter
        .subcenter
            br
            .ui.centered.stacked.transwhite.segment
                h1 #{nombre} - Llamadas
                form(action='/', method='POST')
                    button.ui.secondary.button(name='submitButton', value='log_out') Cerrar sesión
                    a.ui.primary.button(href='/user') Volver al menú
                br

            div.ui.centered.stacked.transwhite.segment(ng-app=' ')
                .ui.huge.labeled.input
                    .ui.label Número:
                    input.ui.input#numberInput(type='tel', ng-model='numberToCall')
                br
                br
                //a.ui.huge.teal.button(href='skype:{{numberToCall}}?call') Etiqueta skype. Llamar a {{numberToCall}}
                br
                a.ui.huge.teal.button(href='tel:{{numberToCall}}') Etiqueta tel. Llamar a {{numberToCall}}
