//
   Created by Anghelo on 02-11-2016.

extends layout

block content
    script(src="/javascript/grabar.js")
    body.callcenter
        .subcenter
            br
            .ui.centered.stacked.transwhite.segment
                h1 #{nombre} - Llamadas
                form(action='/', method='POST')
                    button.ui.secondary.button(name='submitButton', value='log_out') Cerrar sesión
                    a.ui.primary.button(href='/user') Volver al menú

            div.ui.centered.stacked.transwhite.segment(ng-app='getContact', ng-controller='getContactCtrl')
                a.ui.huge.teal.button#callButton(href='skype:+56?call') Llamar a
                input#hiddenNumber(hidden="")
                br
                br
                br
                a.ui.huge.teal.button#surveyLink(target="_blank") Abrir encuesta
                br
                br
                button.ui.huge.green.button#recordingMessage(onclick="mousePressButton()") Preparando grabador
                form(ng-submit="updateState()")
                    input#numberCall(name='numberCall', required='', hidden='', ng-model="form.numberCall")
                    br
                    br
                    br
                    .ui.label Modificar estado
                    select#newState(name='newState', required='', ng-model="form.newState")
                        option(value="Permanentemente inactivo") Permanentemente inactivo
                        option(value="Temporalmente inactivo") Temporalmente inactivo
                        option(value="Activo") Activo
                    br
                    br
                    button.ui.huge.teal.button#submitButton(name='submitButton', value='updateContactState', ng-model="form.submitButton") Actualizar estado del contacto
                br
                br
                //p#recordingMessage(style="color:blue;") Cargando
                br
                br
                form(action='/user', method='POST', enctype="multipart/form-data")
                     input#uploadProject(name='uploadProject', required='' value='{{projectId}}', hidden='')
                     div.ui.label Seleccionar grabación
                     input#uploadRecord(type='file', name='uploadRecord', required='', accept='audio/*')
                     br
                     br
                     button.ui.huge.teal.button(name='submitButton', value='uploadRecording') Subir grabación


            div#survey(style='text-align:center;')


    script(src='/angular/call.js')
