//
   Created by Anghelo on 02-11-2016.

extends layout

block content
    body.callcenter
        .subcenter
            br
            .ui.centered.stacked.transwhite.segment
                h1 #{nombre} - Llamadas
                form(action='/', method='POST')
                    button.ui.secondary.button(name='submitButton', value='log_out') Cerrar sesión
                    a.ui.primary.button(href='/user') Volver al menú
                br

            div.ui.centered.stacked.transwhite.segment(ng-app='getContact', ng-controller='getContactCtrl')
                form(action='/user', method='POST')
                    //.ui.label Seleccione contacto
                    //select#numberCall(ng-change='putNumberToCall()', ng-model='contactsNumbers', name='numberCall', required='')
                    //    option(ng-repeat="contact in contactsList" value="{{contact.id_contact}}") {{contact.first_name}} {{contact.last_name}} {{contact.number}}

                    //br
                    //br
                    input#numberCall(name='numberCall', required='', hidden='')
                    br
                    a.ui.huge.teal.button#callButton(href='skype:+56?call') Llamar a
                    br
                    br
                    br
                    .ui.label Modificar estado
                    select#newState(name='newState', required='')
                        option(value="Permanentemente inactivo") Permanentemente inactivo
                        option(value="Temporalmente inactivo") Temporalmente inactivo
                        option(value="Activo") Activo
                    br
                    br
                    button.ui.huge.teal.button(name='submitButton', value='updateContactState') Actualizar estado del contacto
                    br
                    br
                    br
                    a.ui.huge.teal.button#surveyLink(target="_blank") Abrir encuesta


            div#survey(style='text-align:center;')


    script(src='/angular/call.js')
