//
   Created by Anghelo on 02-11-2016.

extends layout

block content
    div(style='text-align: center;')
        br
        p Bienvenido #{nombre}

        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
        br
        a(href='/user') Volver al menú
    div(ng-app=' ')
        p Ingrese numero a llamar:
        input#numberInput(type='tel', ng-model='numberToCall')

        br
        br
        //a(href='skype:{{numberToCall}}?call') Etiqueta skype. Llamar a {{numberToCall}}
        br
        a(href='tel:{{numberToCall}}') Etiqueta tel. Llamar a {{numberToCall}}
