//
   Created by Anghelo on 08-10-2016.

extends layout

block content
    div(style='text-align: center;')
        br
        p Bienvenido admin #{nombre}
        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
        br

    div
        form(action='', method='POST' encType="multipart/form-data")
            h2 Crear Proyecto
            label Nombre de Proyecto
            br
            input#proyectName(type='text', name='proyectName', required='')
            br
            label Fecha de inicio
            br
            input#proyectStart(type='date', name='proyectStart', required='')
            br
            label Fecha de termino
            br
            input#proyectEnd(type='date', name='proyectEnd', required='')
            br
            label Cliente
            br
            select#proyectClient(name='proyectClient', required='')
                each client in clientsList
                    option(value=client.id_client, id="client"+client.id_client) #{client.name}
            br
            label Enlace a la encuesta
            br
            input#proyectUrl(type='text', name='proyectUrl', required='')
            br
            //label CSV de contactos
            //br
            //input#proyectCsv(type='file', name='proyectCsv', required='')
            //br
            br
            button(name='submitButton', value='createProyect') Crear proyecto
            br
