//
   Created by Anghelo on 08-10-2016.

extends layout

block content
    body
        div(style='text-align: center;')
            br
            p Bienvenido admin #{nombre}
            br
            br
            form(action='/', method='POST')
                button(name='submitButton', value='log_out') Cerrar sesión
            br
            a(href='/admin') Volver al menú

        div(ng-app='getClient', ng-controller='getClientCtrl')
            form(action='/admin', method='POST')
                h2 Crear Proyecto
                label Nombre de Proyecto
                br
                input#proyectName(type='text', name='projectName', required='')
                br
                label Fecha de inicio
                br
                input#proyectStart(type='date', name='projectStart', required='')
                br
                label Fecha de termino
                br
                input#proyectEnd(type='date', name='projectEnd', required='')
                br
                label Cliente
                br
                select#proyectClient(name='projectClient', required='')
                    option(ng-repeat="client in clientsList" value="{{client.id_client}}") {{client.name}}
                br
                label Enlace a la encuesta
                br
                input#proyectUrl(type='text', name='projectUrl', required='')
                br
                br
                button(name='submitButton', value='createProject') Crear proyecto
                br

    script(src='/angular/createProject.js')
