//
   Created by Anghelo on 20-10-2016.

extends layout

block content
    div(style='text-align: center;')
        br
        p Bienvenido admin #{nombre}
        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
        br
        a(href='/admin') Volver al menú
    div
        form(action='/admin', method='POST')
            h2 Crear encuestador
            label Nombre
            br
            input#interName(type='text', name='interName', required='')
            br
            label Rut
            br
            input#interRut(type='text', name='interRut', required='')
            br
            label Contraseña
            br
            input#interPass(type='password', name='interPass', required='')
            br
            label Repita Contraseña
            br
            input#interPass2(type='password', name='interPass2', required='')
            br
            label e-Mail
            br
            input#interMail(type='email', name='interMail', required='')
            br
            br
            button(name='submitButton', value='createInter') Crear encuestador
            br
