//
   Created by Anghelo on 21-10-2016.

extends layout

block content
    div(style='text-align: center;')
        br
        p Bienvenido admin #{nombre}
        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
        br
        a(href='/admin') Volver al menú
    div
        form(action='/admin', method='POST')
            h2 Eliminar encuestador
            label Seleccione encuestador
            br
            select#deleteUser(name='deleteUser', required='')
                each user in userList
                    option(value=user.id_user, id="client" + user.id_user) #{user.name}
            br
            br
            button(name='submitButton', value='deleteInter') Eliminar encuestador
            br
