extends layout

block content
  .ui.middle.aligned.center.aligned.grid
    .column
      h2.ui.teal.image.header
        img.image(src='assets/images/logo.png')
        .content
          | Log-in to your account
      form.ui.large.form
        .ui.stacked.segment
          .field
            .ui.left.icon.input
              i.user.icon
              input(name='email', placeholder='E-mail address', type='text')
          .field
            .ui.left.icon.input
              i.lock.icon
              input(name='password', placeholder='Password', type='password')
          .ui.fluid.large.teal.submit.button Login
        .ui.error.message
      .ui.message
        | New to us?
        a(href='#') Sign Up