doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/semantic/semantic.min.css')
    script(src="/javascript/common.js")
    script(src='/javascript/angularjs1.4.8.min.js')
    script(src="/javascript/grabar.js")
  body
    block content