doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/semantic/semantic.min.css')
    script(src="javascript/common.js")
  body
    block content