extends layout

block content
  body.callcenter(style="height:100%;")
    .ui.one.column.center.aligned.page.grid(style="padding-top:20%;")
      .column.eight.wide
        h2.ui.teal.image.header
          img.image(src='static/cati.png')
          .content(style="color:rgb(100,100,200);")
            | Software CATI - Ingreso
        form.ui.large.form(action="", method="POST", onsubmit="return validateLogin()").transwhite
          .ui.stacked.segment
            .field
              .ui.left.icon.input
                i.user.icon
                input#rut(name='rut', placeholder='12345678-9', type='text')
            .field
              .ui.left.icon.input
                i.lock.icon
                input#password(name='password', placeholder='Clave', type='password')
            button.ui.fluid.large.teal.submit.button Entrar
          .ui.error.message
         p(id='error' style='color:red;') #{error}
