//
   Created by Anghelo on 27-10-2016.

extends layout

block content
    div(style='text-align: center;')
        br
        p Bienvenido admin #{nombre}
        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
        br
        a(href='/admin') Volver al menú

    div(ng-app='getUserTable', ng-controller='getUserTableCtrl')
        form(action='/admin', method='POST')
            br
            h2 Ver encuestadores
            label Seleccione encuestador
            br
            select#readUser(name='readUser', required='', ng-model="selectedUser", ng-options="user.name for user in usersList")
                //option(value='{{user.id_user}}') {{user.name}}
            br
            br
            //.ui.fluid.large.teal.submit.button(ng-click='getSelectedUser()') Ver encuestador seleccionado
            br

            label Ingrese su contraseña actual
            br
            input#userDeletePass(type='password', name='userDeletePass', required='')
            br
            button(name='submitButton', value='deleteInter') Eliminar encuestador

        br
        table
            tr
                th ID encuestador
                th Nombre del encuestador
                th Rut del encuestador
                th e-Mail del encuestador
            tr
                td {{ selectedUser.id_user }}
                td {{ selectedUser.name }}
                td {{ selectedUser.rut }}
                td {{ selectedUser.email }}

    script(src='/angular/readUsers.js')
