//
   Created by Anghelo on 27-10-2016.

extends layout

block content
    div(style='text-align: center;')
        br
        p Bienvenido admin #{nombre}
        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
        br
        a(href='/admin') Volver al menú

    div(ng-app='getUserTable', ng-controller='getUserTableCtrl')
        form(action='/admin', method='POST')
            br
            h2 Ver encuestadores
            label Seleccione encuestador
            br
            select#readUser(name='readUser', required='', ng-model="selectedUser", ng-options="user.name for user in usersList")
                //option(value='{{user.id_user}}') {{user.name}}
            br
            br
            //.ui.fluid.large.teal.submit.button(ng-click='getSelectedUser()') Ver encuestador seleccionado
            br

            label Ingrese su contraseña actual
            br
            input#userDeletePass(type='password', name='userDeletePass', required='')
            br
            button(name='submitButton', value='deleteInter') Eliminar encuestador

        br
        table
            tr
                th ID encuestador
                th Nombre del encuestador
                th Rut del encuestador
                th e-Mail del encuestador
            tr
                td {{ selectedUser.id_user }}
                td {{ selectedUser.name }}
                td {{ selectedUser.rut }}
                td {{ selectedUser.email }}

    script.
        var app = angular.module('getUserTable', []);
        app.controller('getUserTableCtrl', function ($scope, $http) {
            //$scope.usersList = {"usersData": [{"id_user": "1", "name": "Anghelo", "rut": "19125145-8", "email": "angheloalf95@gmail.com"}, {"id_user": "2", "name": "Ignacio", "rut": "19306593-7", "email": "maill@mail.mail"}, {"id_user": "4", "name": "Alf", "rut": "19125145-8", "email": "mail@mail.com"}]}.usersData;
            $http.get("/angular/users")
                .then(function (response){
                    console.log("la wea weon qlo");
                    console.log(response.data.usersData);
                    $scope.usersList = response.data.usersData;
                });
            /*$scope.getSelectedUser = function () {
                var userID = document.getElementById("readUser").value;
                $http.get("/angular/user/" + userID)
                    .then(function (response) {
                        $scope.userGetData = response.data.userData;
                    });
            };*/
        });
