//
   Created by Anghelo on 22-10-2016.

extends layout

block content
    body.callcenter
        div.subcenter
            br
            div.ui.centered.segment.transwhite
                h1 Admin #{nombre} - Subir BD
                form(action='/', method='POST')
                    button.ui.secondary.button(name='submitButton', value='log_out') Cerrar sesión
                    a.ui.primary.button(href='/admin') Volver al menú
                br
            div.ui.centered.segment.transgray(ng-app='getProject', ng-controller='getProjectCtrl')
                h3 Subir Base de Datos de contactos
                form(action='/admin', method='POST' encType="multipart/form-data")
                    div.ui.label Seleccione proyecto asociado
                    br
                    select#uploadProject(name='uploadProject', required='')
                        option(ng-repeat="project in projectsList" value="{{project.id_project}}") {{project.name}}
                        //each project in projectList
                        //    option(value=project.id_project, id="project" + project.id_project) #{project.name}
                    br
                    div.ui.label CSV de contactos
                    br
                    input#uploadContacts(type='file', name='uploadContacts', required='')
                    br
                    br
                    button.ui.primary.button(name='submitButton', value='uploadCSV') Subir contactos
                    br

        script(src='/angular/uploadCSV.js')
