//
   Created by Anghelo on 08-09-2016.
    TODO: everything :c

extends layout

block content
    body.callcenter
        div.subcenter
            br
            div.ui.centered.segment.transwhite
                h1 Bienvenido #{nombre}
                form(action='/', method='POST')
                    button.ui.secondary.button(name='submitButton', value='log_out') Cerrar sesión
            div.ui.centered.stacked.segment.transwhite
                h3 Herramientas
                a.ui.big.button.circular.red.w35(href='/user/modificarDatos') Cambiar contraseña
                a.ui.big.button.circular.orange.w35(href='/user/call') Testing llamadas
            br


