//
   Created by Anghelo on 08-09-2016.
    TODO: everything :c

extends layout

block content
    body
        br
        p Bienvenido #{nombre}
        br
        a(href='/user/modificarDatos') Cambiar contraseña
        br
        br
        form(action='/', method='POST')
            button(name='submitButton', value='log_out') Cerrar sesión
