body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centered{
  text-align: center;
}

.subcenter{
  margin-left: 15%;
  margin-right: 15%;
}
.callcenter {
  background-image: url(../static/ccblur.jpg);
  background-size: 100% 120%;
}